<script>
  ahoy.trackAll();
</script>

<div class="jumbotron">

  <!-- <h2><i class="fa fa-rss"></i> Export feeds and articles from RssDemon Android-App to OPML</h2> -->
<h2><%= image_tag("rss.png", size: "40") %></i> Export feeds from RssDemon Android-App to OPML</h2>
<p>Development for the RssDemon App is not continued anymore. Unfortunately the export feature that the app is supposed 
	to have does not work. Thus when you would like to switch to another RSS App you have to re-enter all your feeds by hand.</p>

<h3>But wait. There is hope:</h3>
<p>With the help of this website it is possible to extract all your data from RssDemon into OPML format. And then you can import it into any other RSS Reader that supports OPML. Here is how:</p>

<ol>
	<li>Find your Database.db from RssDemon</li>
	<li>Upload it here</li>
	<li>Download your exported feeds in an OPML file</li>	
</ol>
<br />
	<div class="col-md-12"><div class="text-center">
	<%= link_to new_upload_path do %>
		<span class="btn btn-primary btn-lg">Alright. Let's do it!</span>
	<% end %>
 	</div></div>

<br />
<br />
</div>
