<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h1>Statistics for RSSDemonExport</h1>

<h3>Overall numbers</h3>
Visits: <%= @visits.count %><br />
PIs:  <%= @event_counts["$view"] %><br />
Exports: <%= @event_counts["export complete"] %>

<h3>Visits per day</h3>
<%= line_chart @visits.group_by_day(:started_at).count %>

<h3>Number of events</h3>
<%= column_chart @event_counts %>

<h3>Log of sucessful exports</h3>
<table>
  <tr> <th>Filename</th><th>Number of Feeds</th> </tr>
  <% @exports.each do |export|  %>
    <tr>
      <td><%= export["name"] %></td>
      <td style="text-align:right"><%= export["feedcount"]  %></td>
    </tr>
  <% end %>
</table>
