<% if object.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><i class="fa fa-warning"></i> <%= msg %></li>
    <% end %>
    </ul>
    </div>
<% end %>
