/*
$font-size-base:                14px;
$jumbotron-font-size:           ceil(($font-size-base * 1.4 ));
*/

@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: proxima-nova,"Helvetica",Arial,sans-serif;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #4c67ff, #4c67ff);
  background-image: -ms-linear-gradient(top, #4c67ff, #4c67ff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4c67ff), to(#4c67ff));
  background-image: -webkit-linear-gradient(top, #4c67ff, #4c67ff);
  background-image: -o-linear-gradient(top, #4c67ff, #4c67ff);
  background-image: linear-gradient(top, #4c67ff, #4c67ff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'4c67ff, endColorstr='#'4c67ff, GradientType=0);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */


h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: museo-slab,Georgia,"Times New Roman",Times,serif
}

h2 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #444;
}

p {
  font-size: 1em;
  line-height: 1.7em;
}

.container {
  width: 80%; 
}

ol {
  font-size:1.3em;
  margin-left:5em;
}

#error_explanation {
  ul {
    list-style: none;
  }
}
