<script>
  ahoy.trackAll();
</script>

<div class="jumbotron">
  <h2><%= image_tag("rss.png", size: "40") %></i> Export feeds from RssDemon Android-App to OPML</h2>
<ol>
	<li><b>Find your Database.db from RssDemon</b>
		<p>Start the "MyFiles" App or any other filemanager (I recommend ES File Explorer). And look on the
		device storage (sdcard) for a folder called "com.meecel.rssdemon". In that folder you will find the Database.db file</p>
		<p>It might be a path like:<br />
		/sdcard/com.meecel.rssdemon/<br />
		/extSdCard/com.meecel.rssdemon<br /></p>
	</li>
	<li><b>Upload it here</b><br />
	<div style="width:75%; padding:1em 2em;">
		<%= form_for @upload, :url => uploads_path, :html => { :multipart => true } do |form| %>
      			 <%= render 'shared/error_messages', object: form.object %>

			  <div style="float:left">
			  <%= form.file_field :database, class: 'btn btn-default' %>
        		 </div>
			  <div style="float:right">
			  <button class='btn btn-primary'>
			    <!--<i class="fa fa-upload"></i>&nbsp;-->Upload
			  </button>
        		 </div>
		  <% end %>
        </div>
	<br />
	</li style="clear:both">
	<li><b>Download your OPML</b></li>	
</ol>
	

</div>
