<script>
  ahoy.trackAll();
</script>
 
 <div class="jumbotron">
   <h2><%= image_tag("rss.png", size: "40") %></i> Export feeds from RssDemon Android-App to OPML</h2>
<p class=" alert alert-success">Successfully uploaded the file</p>

<div class="col-md-12"><div class="text-center">
  <%= link_to @exportfile do %>
	<span class="btn btn-primary btn-lg">Download the OPML file</span>
  <% end %>
</div></div>
<br />
<br />

</div>

 <div class="text-center jumbotron">
   <h4>Did it work?</h4>
   <div>
     <%= link_to "/feedbackpos", remote: true, id: 'send_pos_feedback' do %>
         <span class="btn btn-primary">Yes</span>
     <% end %>
     <%= link_to "/feedbackneg", remote: true do %>
         <span class="btn btn-primary">No</span>
     <% end %>
  </div>
  If it didn't work send me an <%= mail_to "ichmagfisch@googlemail.com", "email", subject: "Export feeds from RssDemon didn't work" %>

</div>
