<!DOCTYPE html>
<html>
<head>
  <title>Export feeds and articles from RssDemon to OPML</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
      <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
        </script>
      <![endif]-->
</head>
<body>
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav pull-right">
            <!-- <li><%= link_to "Home",   '/' %></li> -->
            <!-- <li><%= link_to "Help",   '#' %></li> -->
          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
</body>
</html>
